Repository sima-land/ui-nucleons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

Deploying to gh-pages from @ sima-land/ui-nucleons@a79e8dbe58fd07a2b7c5ed2f0bf1fafc855ab238 🚀
  index.html
  sandbox.12443.css
  sandbox.2e54a.js
  sandbox.9aba8.js
  sandbox.e4761.css
  sandbox.html
  showcase.28e75.css
  showcase.36def.css
  showcase.3b0b1.js
  showcase.8b710.js
Due: prettier --write, eslint --fix, stylelint

#500 Обновить компонент Autocomplete
  package-lock.json
  package.json
  src/autocomplete/__test__/autocomplete.test.tsx
  src/autocomplete/autocomplete.m.scss
  src/autocomplete/autocomplete.tsx
  src/dropdown/dropdown.m.scss
  src/dropdown/utils.ts
  src/popup/__test__/utils.test.ts
Due: prettier --write, eslint --fix, stylelint

FIX #500 Обновить компонент Autocomplete
  src/autocomplete/autocomplete.tsx
Due: prettier --write, eslint --fix

FIX #500 Обновить компонент Autocomplete
  src/autocomplete/autocomplete.m.scss
  src/autocomplete/autocomplete.tsx
  src/dropdown/dropdown.m.scss
Due: prettier --write, eslint --fix, stylelint

#12235 Доработать компонент FileIcon
  docs/package-lock.json
  docs/package.json
  docs/stories/components/file-icon/01-primary.story.tsx
  docs/stories/components/file-icon/02-custom-colors.story.tsx
  package-lock.json
  package.json
  src/file-icon/__test__/__snapshots__/index.test.tsx.snap
  src/file-icon/__test__/index.test.tsx
  src/file-icon/file-icon.m.scss
  src/file-icon/file-icon.tsx
  src/file-icon/index.ts
  src/file-icon/types.ts
  tests/file-icon.spec.ts
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-chromium-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-firefox-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

#12235 Доработать компонент FileIcon
  src/file-icon/file-icon.tsx
  src/file-icon/index.ts
  src/file-icon/types.ts
Due: prettier --write, eslint --fix

#12235 Доработать компонент FileIcon
  src/file-icon/file-icon.tsx
  src/file-icon/index.ts
Due: prettier --write, eslint --fix

#12235 Доработать компонент FileIcon
  docs/stories/components/file-icon/01-primary.story.tsx
  docs/stories/components/file-icon/02-custom-colors.story.tsx
  src/file-icon/__test__/__snapshots__/index.test.tsx.snap
  src/file-icon/__test__/index.test.tsx
  src/file-icon/file-icon.m.scss
  src/file-icon/file-icon.tsx
  src/file-icon/types.ts
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-chromium-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-firefox-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

#12235 Доработать компонент FileIcon
  docs/stories/components/file-icon/01-primary.story.tsx
  src/file-icon/__test__/__snapshots__/index.test.tsx.snap
  src/file-icon/__test__/index.test.tsx
  src/file-icon/file-icon.tsx
  src/file-icon/index.ts
  src/file-icon/types.ts
Due: prettier --write, eslint --fix

#500 Обновить компонент Autocomplete
  tests/autocomplete.spec.ts
Due: prettier --write, eslint --fix

#500 Обновить компонент Autocomplete (#503)
  package-lock.json
  package.json
  src/autocomplete/__test__/autocomplete.test.tsx
  src/autocomplete/autocomplete.tsx
  src/dropdown/dropdown.m.scss
  src/dropdown/utils.ts
  src/popup/__test__/utils.test.ts
  tests/autocomplete.spec.ts
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@a22ce6db094c8fa0f3d9e6440c67f0cef96ffd0e 🚀
  index.html
  sandbox.12443.css
  sandbox.2e54a.js
  sandbox.72238.css
  sandbox.b05d9.js
  sandbox.html
  showcase.28e75.css
  showcase.3b0b1.js
  showcase.780cc.js
  showcase.823da.css
Due: prettier --write, eslint --fix, stylelint

#12235 Доработать компонент FileIcon
  src/file-icon/file-icon.m.scss
  src/file-icon/file-icon.tsx
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-chromium-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-firefox-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

#12235 Доработать компонент FileIcon
  src/file-icon/file-icon.tsx
Due: prettier --write, eslint --fix

#12235 Доработать компонент FileIcon (#504)
  docs/package-lock.json
  docs/package.json
  docs/stories/components/file-icon/01-primary.story.tsx
  docs/stories/components/file-icon/02-custom-colors.story.tsx
  package-lock.json
  package.json
  src/file-icon/__test__/__snapshots__/index.test.tsx.snap
  src/file-icon/__test__/index.test.tsx
  src/file-icon/file-icon.m.scss
  src/file-icon/file-icon.tsx
  src/file-icon/types.ts
  tests/file-icon.spec.ts
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-chromium-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-firefox-linux.png
  tests/file-icon.spec.ts-snapshots/file-icons-should-be-on-page-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@a0dc2ee663c929841931e56b5fb3484ed97b4d39 🚀
  index.html
  sandbox.33c71.js
  sandbox.72238.css
  sandbox.b05d9.js
  sandbox.eaa5c.css
  sandbox.html
  showcase.33661.js
  showcase.780cc.js
  showcase.7944e.css
  showcase.823da.css
Due: prettier --write, eslint --fix, stylelint

#12461 Button: доработать в соответствии с новыми дизайн-гайдами.
  src/button/button.m.scss
Due: prettier --write, stylelint

#12461 Button: доработать в соответствии с новыми дизайн-гайдами. (#506)
  src/button/button.m.scss
Due: prettier --write, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@a0b9d71aba8f899e66928823c569e5a0cbf0100a 🚀
  index.html
  sandbox.12839.js
  sandbox.2aeb6.css
  sandbox.33c71.js
  sandbox.eaa5c.css
  sandbox.html
  showcase.33661.js
  showcase.52365.js
  showcase.6aefd.css
  showcase.7944e.css
Due: prettier --write, eslint --fix, stylelint

Доработан тест для проверки выпадающего списка
  REFERENCE.md
  docs/stories/components/autocomplete/04-different-states.story.tsx
  tests/autocomplete.spec.ts
  tests/autocomplete.spec.ts-snapshots/Upward-dropdown-opening-dropdown-should-open-upward-when-not-enough-space-below-1-chromium-linux.png
  tests/autocomplete.spec.ts-snapshots/Upward-dropdown-opening-dropdown-should-open-upward-when-not-enough-space-below-1-firefox-linux.png
  tests/autocomplete.spec.ts-snapshots/Upward-dropdown-opening-dropdown-should-open-upward-when-not-enough-space-below-1-webkit-linux.png
Due: prettier --write, eslint --fix

#12456 Autocomplete: Доработать тесты на компонент для проверки функционала фиксации высоты выпадающего списка при изменении высоты вьюпорта. (#507)
  REFERENCE.md
  docs/stories/components/autocomplete/04-different-states.story.tsx
  tests/autocomplete.spec.ts
  tests/autocomplete.spec.ts-snapshots/Upward-dropdown-opening-dropdown-should-open-upward-when-not-enough-space-below-1-chromium-linux.png
  tests/autocomplete.spec.ts-snapshots/Upward-dropdown-opening-dropdown-should-open-upward-when-not-enough-space-below-1-firefox-linux.png
  tests/autocomplete.spec.ts-snapshots/Upward-dropdown-opening-dropdown-should-open-upward-when-not-enough-space-below-1-webkit-linux.png
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@c538ecdc44181ba7f4fa94990c84e98efe97e8ff 🚀
  index.html
  sandbox.12839.js
  sandbox.40cce.js
  sandbox.html
  showcase.25816.js
  showcase.52365.js
Due: prettier --write, eslint --fix

исправление ошибок и предупреждений в тестах
  src/_internal/page-scroll-lock/adapters/__test__/ui-nucleons.test.ts
  src/carousel/__test__/index.test.tsx
  src/dropdown-item/__test__/index.test.tsx
  src/dropdown/__test__/utils.test.tsx
  src/hooks/use-breakpoint/__test__/index.test.tsx
  src/hooks/use-intersection/__test__/test-utils.test.ts
Due: prettier --write, eslint --fix

#12432 PhoneInput и MaskedInput дописать доку по новому пропу filledMaskedMinLength
  docs/package-lock.json
  docs/stories/components/masked-input/05-validation.story.tsx
  docs/stories/components/phone-input/05-validation.story.tsx
  package-lock.json
Due: prettier --write, eslint --fix

Исправление ошибок и предупреждений в тестах (#508)
  src/_internal/page-scroll-lock/adapters/__test__/ui-nucleons.test.ts
  src/carousel/__test__/index.test.tsx
  src/dropdown-item/__test__/index.test.tsx
  src/dropdown/__test__/utils.test.tsx
  src/hooks/use-breakpoint/__test__/index.test.tsx
  src/hooks/use-intersection/__test__/test-utils.test.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@78d926778c267c17b5945c7af5f8eb5dcaf7b9b3 🚀
  index.html
  sandbox.1d70c.js
  sandbox.40cce.js
  sandbox.html
  showcase.25816.js
  showcase.f4ffe.js
Due: prettier --write, eslint --fix

fix for moleculas warnings in tests
  src/hooks/use-intersection/test-utils.ts
Due: prettier --write, eslint --fix

#12432 PhoneInput и MaskedInput дописать доку по новому пропу filledMaskedMinLength
  docs/stories/components/masked-input/05-validation.story.tsx
  docs/stories/components/phone-input/05-validation.story.tsx
Due: prettier --write, eslint --fix

Исправления для исключения предупреждений в тестах библиотеки @sima-land/moleculas (#510)
  src/hooks/use-intersection/test-utils.ts
Due: prettier --write, eslint --fix

#12432 PhoneInput и MaskedInput дописать доку по новому пропу filledMaskedMinLength (#509)
  docs/package-lock.json
  docs/stories/components/masked-input/05-validation.story.tsx
  docs/stories/components/phone-input/05-validation.story.tsx
  package-lock.json
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@21f13e59b21881b0738785dd7449157cba669bc1 🚀
  index.html
  sandbox.1d70c.js
  sandbox.2aeb6.css
  sandbox.3bcf9.css
  sandbox.76fb0.js
  sandbox.html
  showcase.6aefd.css
  showcase.9f48f.css
  showcase.ea8a1.js
  showcase.f4ffe.js
Due: prettier --write, eslint --fix, stylelint

#13035 ui-nucleons: Modal не растягивается на весь экран в iOS v26
  package-lock.json
  package.json
  src/_internal/page-scroll-lock/adapters/__test__/body-scroll-lock.test.ts
  src/_internal/page-scroll-lock/adapters/body-scroll-lock.ts
  src/_internal/page-scroll-lock/hook.ts
  src/_internal/page-scroll-lock/types.ts
Due: prettier --write, eslint --fix

#13035 ui-nucleons: Modal не растягивается на весь экран в iOS v26
  src/dropdown/dropdown.tsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@31bc116229a804e5fb3485937ca4770e8b818ba6 🚀
  index.html
  sandbox.2aeb6.css
  sandbox.3bcf9.css
  sandbox.76fb0.js
  sandbox.dcff2.js
  sandbox.html
  showcase.6aefd.css
  showcase.9f48f.css
  showcase.b2d9f.js
  showcase.ea8a1.js
Due: prettier --write, eslint --fix, stylelint

#511 Реализовать компонент Snackbar
  docs/package-lock.json
  docs/stories/components/snack-bar/01-primary.story.tsx
  docs/stories/components/snack-bar/02-with-transitions.story.tsx
  docs/stories/components/snack-bar/03-with-positioning.story.tsx
  docs/stories/components/snack-bar/04-with-some-snackbars.story.tsx
  docs/stories/components/snack-bar/images/baggi.png
  package-lock.json
  package.json
  src/snack-bar/__test__/snack-bar.test.tsx
  src/snack-bar/__test__/utils.test.tsx
  src/snack-bar/context.tsx
  src/snack-bar/index.tsx
  src/snack-bar/slots.tsx
  src/snack-bar/snack-bar.m.scss
  src/snack-bar/snack-bar.tsx
  src/snack-bar/types.ts
  src/snack-bar/utils.m.scss
  src/snack-bar/utils.tsx
Due: prettier --write, eslint --fix, stylelint

#511 Реализовать компонент Snackbar
  package-lock.json
  package.json
Due: none

#511 Реализовать компонент Snackbar
  docs/stories/components/snack-bar/01-primary.story.tsx
  docs/stories/components/snack-bar/02-with-transitions.story.tsx
  docs/stories/components/snack-bar/03-with-positioning.story.tsx
  docs/stories/components/snack-bar/04-with-some-snackbars.story.tsx
  src/snack-bar/__test__/snack-bar.test.tsx
  src/snack-bar/__test__/utils.test.tsx
  src/snack-bar/snack-bar.m.scss
  src/snack-bar/snack-bar.tsx
  src/snack-bar/types.ts
  src/snack-bar/utils.tsx
Due: prettier --write, eslint --fix, stylelint

#511 Реализовать компонент Snackbar (#516)
  docs/package-lock.json
  docs/stories/components/snack-bar/01-primary.story.tsx
  docs/stories/components/snack-bar/02-with-transitions.story.tsx
  docs/stories/components/snack-bar/03-with-positioning.story.tsx
  docs/stories/components/snack-bar/04-with-some-snackbars.story.tsx
  docs/stories/components/snack-bar/images/baggi.png
  package-lock.json
  package.json
  src/snack-bar/__test__/snack-bar.test.tsx
  src/snack-bar/__test__/utils.test.tsx
  src/snack-bar/context.tsx
  src/snack-bar/index.tsx
  src/snack-bar/slots.tsx
  src/snack-bar/snack-bar.m.scss
  src/snack-bar/snack-bar.tsx
  src/snack-bar/types.ts
  src/snack-bar/utils.m.scss
  src/snack-bar/utils.tsx
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@0c31d37029a1ad147b566b2477ee9c63ee7a32a1 🚀
  index.html
  sandbox.2aeb6.css
  sandbox.61965.css
  sandbox.dcff2.js
  sandbox.f3d91.js
  sandbox.html
  showcase.1e99b.css
  showcase.5e685.js
  showcase.6aefd.css
  showcase.b2d9f.js
  static/7dbea51b4eac9a845c28.png
Due: prettier --write, eslint --fix, stylelint
