Repository sima-land/ui-nucleons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

#472
  .template/build.mjs
  .template/colors.scss.handlebars
  .template/colors.ts.handlebars
  .template/data.mjs
  .template/gradients.scss.handlebars
  .template/gradients.ts.handlebars
  src/colors.scss
  src/colors/index.ts
  src/gradients.scss
  src/gradients/index.ts
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@5af759297c9128c317a6c98cce3c342ed5126db6 🚀
  index.html
  sandbox.02fc5.css
  sandbox.29f58.css
  sandbox.90f5c.js
  sandbox.b10bf.js
  sandbox.html
  showcase.1a63e.js
  showcase.7d886.css
  showcase.b8876.js
  showcase.d7477.css
Due: prettier --write, eslint --fix, stylelint

#472
  docs/stories/tokens/colors/usage.m.scss
  docs/stories/tokens/colors/usage.tsx
  docs/stories/tokens/gradients.story.mdx
  docs/stories/tokens/gradients.story.meta.json
  docs/stories/tokens/gradients/usage.m.scss
  docs/stories/tokens/gradients/usage.tsx
  eslint.config.mjs
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@bc15568dfb8f6e4e62a42cbec2f01825d28394b3 🚀
  index.html
  sandbox.06c15.js
  sandbox.29f58.css
  sandbox.90f5c.js
  sandbox.c31af.css
  sandbox.html
  showcase.1a63e.js
  showcase.276f8.js
  showcase.68320.css
  showcase.7d886.css
Due: prettier --write, eslint --fix, stylelint

#470
  src/helpers/index.ts
  src/helpers/merge-refs.ts
  src/phone-input/__test__/phone-input.test.tsx
  src/phone-input/phone-input.tsx
  src/select/__test__/index.test.tsx
  src/select/__test__/utils.test.tsx
  src/select/index.ts
  src/select/parts/__test__/button.test.tsx
  src/select/parts/__test__/field-block.test.tsx
  src/select/parts/__test__/text-button.test.tsx
  src/select/parts/block.tsx
  src/select/parts/button.tsx
  src/select/parts/field-block.m.scss
  src/select/parts/field-block.tsx
  src/select/parts/menu.m.scss
  src/select/parts/menu.tsx
  src/select/parts/text-button.tsx
  src/select/select.tsx
  src/select/types.ts
  src/select/utils.ts
Due: prettier --write, eslint --fix, stylelint

#470
  docs/src/docs-utils.tsx
  docs/stories/components/masked-input/22-test-mask-change.story.tsx
  docs/stories/components/select/01-primary.story.tsx
  docs/stories/components/select/02-as-field-block.story.tsx
  docs/stories/components/select/03-as-text-button.story.tsx
  docs/stories/components/select/04-different-states.story.tsx
  docs/stories/components/select/test-all-disabled.story.tsx
  docs/stories/components/select/test-native-compare.story.tsx
Due: prettier --write, eslint --fix

#470
  package-lock.json
  package.json
  tests/button.spec.ts-snapshots/Loading-buttons-should-not-show-content-on-hover-1-firefox-linux.png
  tests/button.spec.ts-snapshots/Loading-buttons-should-not-show-content-on-hover-2-firefox-linux.png
  tests/button.spec.ts-snapshots/Loading-buttons-should-not-show-content-on-hover-3-firefox-linux.png
  tests/input.spec.ts-snapshots/filled-disabled-state-look-1-firefox-linux.png
  tests/input.spec.ts-snapshots/filled-disabled-state-look-2-firefox-linux.png
  tests/input.spec.ts-snapshots/filled-disabled-state-look-3-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-fullscreen-shows-by-opener-click-and-hides-by-cross-click-1-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-l-shows-by-opener-click-and-hides-by-cross-click-1-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-l-shows-by-opener-click-and-hides-by-cross-click-2-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-m-shows-by-opener-click-and-hides-by-cross-click-1-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-m-shows-by-opener-click-and-hides-by-cross-click-2-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-s-shows-by-opener-click-and-hides-by-cross-click-1-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-s-shows-by-opener-click-and-hides-by-cross-click-2-firefox-linux.png
  tests/modal.spec.ts-snapshots/Modal-size-xl-shows-by-opener-click-and-hides-by-cross-click-1-firefox-linux.png
  tests/phone-input.spec.ts-snapshots/Props-handling-Disabled-state-1-firefox-linux.png
  tests/select.spec.ts
  tests/select.spec.ts-snapshots/Mouse-interactions-Menu-should-be-shown-after-click-by-opener-2-chromium-linux.png
  tests/select.spec.ts-snapshots/Mouse-interactions-Menu-should-be-shown-after-click-by-opener-2-firefox-linux.png
  tests/select.spec.ts-snapshots/Mouse-interactions-Menu-should-be-shown-after-click-by-opener-2-webkit-linux.png
Due: prettier --write, eslint --fix

#470
  .github/workflows/tests-e2e.yml
Due: none

Deploying to gh-pages from @ sima-land/ui-nucleons@662f611134204e07fe4b42b80f942ae904394ecf 🚀
  index.html
  sandbox.06c15.js
  sandbox.98fc9.js
  sandbox.c31af.css
  sandbox.f197d.css
  sandbox.html
  showcase.079e2.css
  showcase.276f8.js
  showcase.68320.css
  showcase.c13ae.js
Due: prettier --write, eslint --fix, stylelint

#476
  docs/stories/components/masked-input/04-different-states.story.tsx
  src/input/__test__/index.test.tsx
  src/input/input.tsx
  src/textarea/__test__/index.test.tsx
  src/textarea/textarea.tsx
  src/textarea/types.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@a1bc6c19b4455a70af6e63425f94cbc511df4c81 🚀
  index.html
  sandbox.98fc9.js
  sandbox.ae5e4.js
  sandbox.html
  showcase.0fe43.js
  showcase.c13ae.js
Due: prettier --write, eslint --fix

#469
  docs/stories/components/side-page/01-primary.story.tsx
  docs/stories/components/side-page/02-size-s.story.tsx
  docs/stories/components/side-page/03.size-m.story.tsx
  docs/stories/components/side-page/04-with-transitions.story.tsx
  docs/stories/components/side-page/05-without-transitions.story.tsx
  docs/stories/components/side-page/06-with-clean-buttons.story.tsx
  docs/stories/components/side-page/20-test-page-scroll-lock.story.tsx
  package-lock.json
  package.json
  src/side-page/__test__/__snapshots__/index.test.tsx.snap
  src/side-page/__test__/index.test.tsx
  src/side-page/__test__/side-page-body.test.tsx
  src/side-page/__test__/side-page.test.tsx
  src/side-page/__test__/utils.test.tsx
  src/side-page/index.ts
  src/side-page/side-page-body.m.scss
  src/side-page/side-page-body.tsx
  src/side-page/side-page-util.scss
  src/side-page/side-page.m.scss
  src/side-page/side-page.tsx
  src/side-page/slots.tsx
  src/side-page/types.ts
  src/side-page/utils.m.scss
  src/side-page/utils.ts
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@bbe4164b0aa724c1639364c4dcf9613dc515ba6a 🚀
  index.html
  sandbox.074a0.css
  sandbox.37902.js
  sandbox.ae5e4.js
  sandbox.f197d.css
  sandbox.html
  showcase.079e2.css
  showcase.0fe43.js
  showcase.17d96.css
  showcase.5b0aa.js
Due: prettier --write, eslint --fix, stylelint

#469
  docs/package-lock.json
  docs/package.json
Due: none

Deploying to gh-pages from @ sima-land/ui-nucleons@df85413dad8d48d9c23b4760817293c408116825 🚀
  283.cfe92.js
  283.d5670.js
  808.ddf56.js
  834.cbee4.js
  901.4ddce.js
  index.html
  public/reset.css
  public/source-sans-pro.css
  sandbox.074a0.css
  sandbox.19c3c.css
  sandbox.37902.js
  sandbox.dfd42.js
  sandbox.html
  showcase.17d96.css
  showcase.3dbe9.css
  showcase.5b0aa.js
  showcase.cd609.js
Due: prettier --write, eslint --fix, stylelint

#480
  .template/data.mjs
  src/colors.scss
  src/colors/index.ts
  src/gradients.scss
  src/gradients/index.ts
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@f536d0ed8b668259949d321775ef9fc2663a4256 🚀
  index.html
  sandbox.19c3c.css
  sandbox.523a9.css
  sandbox.db832.js
  sandbox.dfd42.js
  sandbox.html
  showcase.3dbe9.css
  showcase.56e22.css
  showcase.b5540.js
  showcase.cd609.js
Due: prettier --write, eslint --fix, stylelint

#482
  src/chip/chip.m.scss
Due: prettier --write, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@4ec26ade5e624f7d3190ad90d5591ae3ed0e57eb 🚀
  index.html
  sandbox.523a9.css
  sandbox.8cb00.css
  sandbox.html
  showcase.56e22.css
  showcase.f9894.css
Due: prettier --write, stylelint

#482
  docs/stories/components/chip/08-state-change-on-click.story.tsx
  docs/stories/components/chip/09-different-states.story.tsx
  eslint.config.mjs
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@bf36656a4499e41894f42c807d1611bd3cde2d0c 🚀
  index.html
  sandbox.07097.js
  sandbox.1f7fa.css
  sandbox.8cb00.css
  sandbox.db832.js
  sandbox.html
  showcase.943dd.css
  showcase.b06fa.js
  showcase.b5540.js
  showcase.f9894.css
Due: prettier --write, eslint --fix, stylelint

#485
  package.json
  scripts/build-assets.mjs
  src/alert/alert.tsx
  src/types/index.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@d1eeab4cb3d97b23e794d49a16956d690b565a6a 🚀
  index.html
  sandbox.07097.js
  sandbox.1f7fa.css
  sandbox.3f2a7.js
  sandbox.8cb00.css
  sandbox.html
  showcase.943dd.css
  showcase.aba8a.js
  showcase.b06fa.js
  showcase.f9894.css
Due: prettier --write, eslint --fix, stylelint

#487
  src/select/parts/menu.tsx
  src/select/select.tsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@dd9a8827793cf555ce470e527ca800993956ae87 🚀
  index.html
  sandbox.1f7fa.css
  sandbox.3f2a7.js
  sandbox.65c85.js
  sandbox.8cb00.css
  sandbox.html
  showcase.943dd.css
  showcase.aba8a.js
  showcase.c577d.js
  showcase.f9894.css
Due: prettier --write, eslint --fix, stylelint

#11538 Добавить компонент Аккордеона
  docs/stories/components/accordion/01-primary.story.tsx
  docs/stories/components/accordion/03-multi-group.story.tsx
  docs/stories/components/accordion/04-html-content.story.tsx
  docs/stories/components/accordion/accordion.m.scss
  src/accordion/__test__/accordion-provider.test.tsx
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion-provider.tsx
  src/accordion/accordion.m.scss
  src/accordion/accordion.tsx
  src/accordion/index.ts
Due: prettier --write, eslint --fix, stylelint

#11538 Добавить компонент Аккордеона
  src/accordion/accordion.m.scss
Due: prettier --write, stylelint

#11538 Добавить компонент Аккордеона
  package.json
Due: none

Поправлены линтеры
  src/accordion/__test__/accordion-provider.test.tsx
Due: prettier --write, eslint --fix

Поправлены линтеры
  package-lock.json
  src/accordion/accordion.m.scss
Due: prettier --write, stylelint

Доработан пример
  docs/stories/components/accordion/03-multi-group.story.tsx
  docs/stories/components/accordion/accordion.m.scss
Due: prettier --write, eslint --fix, stylelint

Доработан пример
  docs/stories/components/accordion/accordion.m.scss
Due: prettier --write, stylelint

Фиксы
  docs/stories/components/accordion/01-primary.story.tsx
  docs/stories/components/accordion/02-multi-group.story.tsx
  docs/stories/components/accordion/03-multi-group.story.tsx
  docs/stories/components/accordion/04-html-content.story.tsx
  src/accordion/__test__/accordion-provider.test.tsx
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion-provider.tsx
  src/accordion/accordion.m.scss
  src/accordion/accordion.tsx
  src/accordion/index.ts
Due: prettier --write, eslint --fix, stylelint

Фиксы
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion.tsx
  src/accordion/index.ts
Due: prettier --write, eslint --fix

Добавлено значение темы unset
  src/accordion/accordion.tsx
Due: prettier --write, eslint --fix

#11538 Добавлены снапшот тесты
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordion-should-be-displayed-is-full-size-opened-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordion-should-be-displayed-is-full-size-opened-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordion-should-be-displayed-is-full-size-opened-1-webkit-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-webkit-linux.png
  tests/accordion.spec.ts-snapshots/dark-theme-accordion-should-be-displayed-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/dark-theme-accordion-should-be-displayed-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/dark-theme-accordion-should-be-displayed-1-webkit-linux.png
  tests/accordion.spec.ts-snapshots/default-accordion-should-be-displayed-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/default-accordion-should-be-displayed-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/default-accordion-should-be-displayed-1-webkit-linux.png
Due: prettier --write, eslint --fix

#11538 Добавлены снапшот тесты
  src/accordion/accordion.tsx
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
Due: prettier --write, eslint --fix

#11538 Добавлены снапшот тесты
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
Due: prettier --write, eslint --fix

#11538 Добавлены снапшот тесты
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-webkit-linux.png
Due: none

#11538 Добавлены снапшот тесты
  src/accordion/__test__/accordion-provider.test.tsx
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-webkit-linux.png
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
