Repository sima-land/ui-nucleons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{css,scss}": ["prettier --write", "stylelint"]
}

#11538 Добавлены снапшот тесты
  docs/stories/components/accordion/02-multi-group.story.tsx
  src/accordion/accordion-provider.tsx
  src/accordion/accordion.m.scss
  src/accordion/accordion.tsx
Due: prettier --write, eslint --fix, stylelint

#11538 Добавлены снапшот тесты
  docs/stories/components/accordion/01-primary.story.tsx
  docs/stories/components/accordion/02-multi-group.story.tsx
  src/accordion/__test__/accordion-provider.test.tsx
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion-provider.tsx
  src/accordion/accordion.tsx
Due: prettier --write, eslint --fix

test (#490)
  src/breakpoints.scss
Due: prettier --write, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@ec67eb3089ebb77c5d89e1943df7dfe32b228d5e 🚀
  index.html
  sandbox.1f7fa.css
  sandbox.65c85.js
  sandbox.8cb00.css
  sandbox.965a5.js
  sandbox.html
  showcase.943dd.css
  showcase.c577d.js
  showcase.f210b.js
  showcase.f9894.css
Due: prettier --write, eslint --fix, stylelint

test
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion-provider.tsx
  src/accordion/accordion.tsx
Due: prettier --write, eslint --fix

Удалён проп по умолчанию для name
  src/accordion/accordion.tsx
Due: prettier --write, eslint --fix

Удалена тема unset
  src/accordion/accordion.tsx
Due: prettier --write, eslint --fix

#11538 Добавить компонент Аккордеона (#489)
  docs/stories/components/accordion/01-primary.story.tsx
  docs/stories/components/accordion/02-multi-group.story.tsx
  docs/stories/components/accordion/accordion.m.scss
  package-lock.json
  package.json
  src/accordion/__test__/accordion-provider.test.tsx
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion-provider.tsx
  src/accordion/accordion.m.scss
  src/accordion/accordion.tsx
  src/accordion/index.ts
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordion-should-be-displayed-is-full-size-opened-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordion-should-be-displayed-is-full-size-opened-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordion-should-be-displayed-is-full-size-opened-1-webkit-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-webkit-linux.png
  tests/accordion.spec.ts-snapshots/dark-theme-accordion-should-be-displayed-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/dark-theme-accordion-should-be-displayed-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/dark-theme-accordion-should-be-displayed-1-webkit-linux.png
  tests/accordion.spec.ts-snapshots/default-accordion-should-be-displayed-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/default-accordion-should-be-displayed-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/default-accordion-should-be-displayed-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@44e2f27d79ade7dcf447dbd392801a7023cd5713 🚀
  index.html
  sandbox.1ae9e.css
  sandbox.1b0e1.js
  sandbox.8cb00.css
  sandbox.965a5.js
  sandbox.html
  showcase.6986a.css
  showcase.aa8df.js
  showcase.f210b.js
  showcase.f9894.css
Due: prettier --write, eslint --fix, stylelint

#11682 Hint с позиционированием, некорректный расчет позиции
  src/hint/utils.ts
Due: prettier --write, eslint --fix

#11682 Hint с позиционированием, некорректный расчет позиции (#491)
  src/hint/utils.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@f663c67492a4f1b9c796c32dd25decf3d1c001a2 🚀
  index.html
  sandbox.1ae9e.css
  sandbox.1b0e1.js
  sandbox.514f2.css
  sandbox.f7911.js
  sandbox.html
  showcase.2788b.js
  showcase.28ee2.css
  showcase.6986a.css
  showcase.aa8df.js
Due: prettier --write, eslint --fix, stylelint

#11791 Некорректно смещается карусель при прокручивании к последнему элементу
  docs/package-lock.json
  docs/stories/components/carousel/03-vertical.story.tsx
  docs/stories/components/carousel/stories.m.scss
  package-lock.json
  src/carousel/carousel.tsx
Due: prettier --write, eslint --fix, stylelint

#11791 Некорректно смещается карусель при прокручивании к последнему элементу
  docs/stories/components/carousel/03-vertical.story.tsx
Due: prettier --write, eslint --fix

#11791 Некорректно смещается карусель при прокручивании к последнему элементу (#492)
  docs/package-lock.json
  docs/stories/components/carousel/03-vertical.story.tsx
  docs/stories/components/carousel/stories.m.scss
  package-lock.json
  src/carousel/carousel.tsx
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@525f5a3687700f2dd81197e55d79309641701712 🚀
  index.html
  sandbox.016ba.css
  sandbox.514f2.css
  sandbox.d79b7.js
  sandbox.f7911.js
  sandbox.html
  showcase.2788b.js
  showcase.28ee2.css
  showcase.993f7.css
  showcase.c94a2.js
Due: prettier --write, eslint --fix, stylelint

#11876 ui-nucleons: добавить отсутствующие эскопрты
  docs/package-lock.json
  docs/package.json
  package-lock.json
  package.json
  src/autocomplete/index.ts
  src/autocomplete/index.tsx
  src/bottom-bar/bottom-bar.m.scss
  src/phone-input/index.ts
  src/styling/colors.m.scss
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@217e1726f01b4b6c840b7947ef828df9cdc8fcbd 🚀
  index.html
  sandbox.016ba.css
  sandbox.9fe22.css
  sandbox.d79b7.js
  sandbox.f2c51.js
  sandbox.html
  showcase.03ab7.css
  showcase.993f7.css
  showcase.c94a2.js
  showcase.cc2e4.js
Due: prettier --write, eslint --fix, stylelint

#57 Carousel: при изменении количества элементов нет смещения
  docs/stories/components/carousel/01-primary.story.tsx
  docs/stories/components/carousel/02-horizontal.story.tsx
  docs/stories/components/carousel/03-vertical.story.tsx
  docs/stories/components/carousel/04-reels.story.tsx
  docs/stories/components/carousel/05-shifts.story.tsx
  docs/stories/components/carousel/reels.m.scss
  docs/stories/components/carousel/stories.m.scss
  docs/stories/components/carousel/test-active-element-blur.story.tsx
  docs/stories/components/carousel/test-prevent-link-click-on-drag.story.tsx
  src/carousel/__test__/index.test.tsx
  src/carousel/carousel.tsx
  src/upload-area/types.ts
Due: prettier --write, eslint --fix, stylelint

#11923 Accordion: переделать реализацию изменения высоты DOM контейнера в ui-nucleons
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion.m.scss
  src/accordion/accordion.tsx
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

#11923 Accordion: переделать реализацию изменения высоты DOM контейнера в ui-nucleons (#496)
  src/accordion/__test__/accordion.test.tsx
  src/accordion/accordion.m.scss
  src/accordion/accordion.tsx
  tests/accordion.spec.ts
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-chromium-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-firefox-linux.png
  tests/accordion.spec.ts-snapshots/accordions-should-be-opened-only-1-for-group-1-webkit-linux.png
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@da2cfdd7618463ac102014fdc0badca697eb4298 🚀
  index.html
  sandbox.268b1.css
  sandbox.3f718.js
  sandbox.9fe22.css
  sandbox.f2c51.js
  sandbox.html
  showcase.03ab7.css
  showcase.5f654.css
  showcase.a842f.js
  showcase.cc2e4.js
Due: prettier --write, eslint --fix, stylelint

Update docs/stories/components/carousel/05-shifts.story.tsx
  docs/stories/components/carousel/05-shifts.story.tsx
Due: prettier --write, eslint --fix

Обновлена версия actions/upload-artifact до v4
  .github/workflows/tests-e2e.yml
Due: none

#57 Carousel: при изменении количества элементов нет смещения
  docs/stories/components/carousel/05-shifts.story.tsx
  src/carousel/__test__/index.test.tsx
Due: prettier --write, eslint --fix

Не работает клик после драг-н-дропа в карусели
  src/carousel/__test__/draggable.test.tsx
  src/carousel/draggable.tsx
Due: prettier --write, eslint --fix

Не работает клик после драг-н-дропа в карусели
  src/carousel/draggable.tsx
Due: prettier --write, eslint --fix

#57 Carousel: при изменении количества элементов нет смещения (#495)
  docs/stories/components/carousel/01-primary.story.tsx
  docs/stories/components/carousel/02-horizontal.story.tsx
  docs/stories/components/carousel/03-vertical.story.tsx
  docs/stories/components/carousel/04-reels.story.tsx
  docs/stories/components/carousel/05-shifts.story.tsx
  docs/stories/components/carousel/reels.m.scss
  docs/stories/components/carousel/stories.m.scss
  docs/stories/components/carousel/test-active-element-blur.story.tsx
  docs/stories/components/carousel/test-prevent-link-click-on-drag.story.tsx
  src/carousel/__test__/index.test.tsx
  src/carousel/carousel.tsx
  src/upload-area/types.ts
Due: prettier --write, eslint --fix, stylelint

Deploying to gh-pages from @ sima-land/ui-nucleons@3ab3b453853be695e85457936030e7ba5607d2b0 🚀
  index.html
  sandbox.05baa.js
  sandbox.268b1.css
  sandbox.3f718.js
  sandbox.e4761.css
  sandbox.html
  showcase.36def.css
  showcase.5335e.js
  showcase.5f654.css
  showcase.a842f.js
Due: prettier --write, eslint --fix, stylelint

Не работает клик после драг-н-дропа в карусели (#498)
  src/carousel/__test__/draggable.test.tsx
  src/carousel/draggable.tsx
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@3bb7dfa040623fc246851035bf4800c961952ed7 🚀
  index.html
  sandbox.05baa.js
  sandbox.12443.css
  sandbox.79930.js
  sandbox.e4761.css
  sandbox.html
  showcase.23d14.js
  showcase.28e75.css
  showcase.36def.css
  showcase.5335e.js
Due: prettier --write, eslint --fix, stylelint

#12200 Autocomplete: добавить возможность получать индекс выбранного элемента
  src/autocomplete/autocomplete.tsx
  src/autocomplete/index.ts
  src/autocomplete/types.ts
Due: prettier --write, eslint --fix

#12200 Autocomplete: добавить возможность получать индекс выбранного элемента (#499)
  src/autocomplete/autocomplete.tsx
  src/autocomplete/index.ts
  src/autocomplete/types.ts
Due: prettier --write, eslint --fix

Deploying to gh-pages from @ sima-land/ui-nucleons@a2da37b5f295accd5e4d8d2af25cf777c1ab3581 🚀
  index.html
  sandbox.12443.css
  sandbox.79930.js
  sandbox.9aba8.js
  sandbox.e4761.css
  sandbox.html
  showcase.23d14.js
  showcase.28e75.css
  showcase.36def.css
  showcase.8b710.js
Due: prettier --write, eslint --fix, stylelint

#12351 Реализовать возможность отключать проверку на заполненность маски при достижении минимального необходимого значения
  package-lock.json
  src/custom.d.ts
  src/masked-input/__test__/masked-input.test.tsx
  src/masked-input/masked-input.tsx
  src/masked-input/types.ts
  src/phone-input/__test__/phone-input.test.tsx
  src/phone-input/index.ts
  src/phone-input/phone-input.tsx
  src/phone-input/preset/defaults-import-png.ts
  src/phone-input/preset/defaults.ts
  src/phone-input/types.ts
  tests/phone-input.spec.ts
Due: prettier --write, eslint --fix

#12351 Реализовать возможность отключать проверку на заполненность маски при достижении минимального необходимого значения
  package-lock.json
  package.json
  src/custom.d.ts
  src/masked-input/__test__/masked-input.test.tsx
  src/masked-input/masked-input.tsx
  src/masked-input/types.ts
  src/phone-input/__test__/phone-input.test.tsx
  src/phone-input/index.ts
  src/phone-input/phone-input.tsx
  src/phone-input/preset/defaults-import-png.ts
  src/phone-input/preset/defaults.ts
  src/phone-input/types.ts
Due: prettier --write, eslint --fix

#12351 Реализовать возможность отключать проверку на заполненность маски при достижении минимального необходимого значения
  tests/phone-input.spec.ts
Due: prettier --write, eslint --fix

#12351 Реализовать возможность отключать проверку на заполненность маски при достижении минимального необходимого значения
  src/masked-input/masked-input.tsx
Due: prettier --write, eslint --fix

#12351 Реализовать возможность отключать проверку на заполненность маски при достижении минимального необходимого значения (#502)
  package-lock.json
  package.json
  src/custom.d.ts
  src/masked-input/__test__/masked-input.test.tsx
  src/masked-input/masked-input.tsx
  src/masked-input/types.ts
  src/phone-input/__test__/phone-input.test.tsx
  src/phone-input/index.ts
  src/phone-input/phone-input.tsx
  src/phone-input/preset/defaults-import-png.ts
  src/phone-input/preset/defaults.ts
  src/phone-input/types.ts
  tests/phone-input.spec.ts
Due: prettier --write, eslint --fix
